.vscode/

*.jpg
*.png
*.svg
*.tif

*.mp4
*.mp3

*.xlxs
*.csv
*.pdf

!data/**/*.jpg
!data/**/*.png
!report/**/*.jpg
!report/**/*.png
!report/**/*.mp4
!report/**/*.pdf

*.npy
*.h5
*.pth

!checkpoints/**/*.npy
!checkpoints/**/*.pth
